@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* Suas cores oficiais do Trix Travel */
  --color-primary: #304ffe;
  --color-secondary: #00d4c5;
  --color-tertiary: #ff5963;
  --color-alternate: #e0e3e7;
  --color-primary-text: #14181b;
  --color-secondary-text: #57636c;
  --color-primary-bg: #f1f4f8;
  --color-secondary-bg: #ffffff;
  --color-success: #249689;
  --color-error: #ff5963;
  --color-warning: #f9cf58;
  --color-info: #ffffff;

  /* Suas Fontes */
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-outfit: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
}